<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Whatsapp</title>

    <link rel="stylesheet" href="assets/chats.css" type="text/css">
    <script src="assets/chats.js" type="text/javascript"></script>

    <script src="https://kit.fontawesome.com/3e643419a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1 class="brand">Whatsapp</h1>
        <div class="headerOptions">
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
        </div>
    </header>
    <div class="chatThumbs">
        <div class="contaier" id="firstContainer">
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc" onclick="showChat()">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
            <div class="chat">
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <div class="chatDesc">
                    <div class="chatDescHead">
                        <h2 class="chatName">Coding group Batch 2020-3</h2>
                        <p>19:52</p>
                    </div>
                    <p class="chatGlimpse">Ok sir, Thank you</p>
                </div>
            </div>
        </div>
    </div>
    <button id="newChat" class="circle"><i class="fas fa-plus"></i></button>

    <!-- chat -->
    <div class="detailedChat">
        <div class="detailedChatHead">
            <div class="detailedHeadChatLeft">
                <button id="back"><i class="fas fa-chevron-left" onclick="hideChat()"></i></button>
                <div class="authImg">
                    <img src="https://i.ibb.co/6YMMhw3/NWY4-ZDNk-Lmpw-Zw.jpg" alt="user image">
                </div>
                <h1 class="brand">Whatsapp</h1>
            </div>
            <div class="headerOptions">
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
            </div>
        </div>
        <div class="container" id="secondContainer">
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">Refresh the page <span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">Sanket</span>
                    <span class="conversationContent">Now I got sir <span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">ok<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">Shoukath Ali</span>
                    <span class="conversationContent">Sir, for fillups only values are enough right?<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">yes<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">.</span>
                    <span class="conversationContent">.<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">without sign you get half marks<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">without sign you get half marks<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">without sign you get half marks<span class="conversationTime">08:51</span></span>
                </div>
            </div>
            <div>
                <div class="conversation">
                    <span class="author">B.K Murthy sir</span>
                    <span class="conversationContent">without sign you get half marks<span class="conversationTime">08:51</span></span>
                </div>
            </div>
        </div>
        <div class="detailedChatFoot">
            <input type="text" class="replyInput" placeholder="Message">
            <button class="circle" id="sendBtn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <div class="green"></div>
</body>
</html>